################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/program/.vs/noMeiryoUI
/program/Debug
/program/Debug_2013
/program/Release
/program/Release_2013
/program/noMeiryoUI.aps
/program/noMeiryoUI.VC.db
/.vs
/help/en-us/English.chm
/help/ja-jp/Japanese.chm
/help/ko-kr/Korean.chm
/help/pt-br/Portuguese_Brazil.chm
/help/zh-cn/Chinese (Simplified)_China.chm
/help/zh-tw/Chinese (Traditional)_Taiwan.chm
