################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/program/.vs/noMeiryoUI
/program/Debug
/program/Debug_2013
/program/Release
/program/Release_2013
/program/noMeiryoUI.aps
/program/noMeiryoUI.VC.db
